<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<body>
<div class="container-fluid md-5 pt-5" th:fragment="edit-position" id="content-edit-position">
  <h3 class="mb-4" th:text="#{position.edit.title}"></h3>
  <div class="alert"></div>
  <div class="row">
    <div class="col">
      <table class="table table-hover" id="edit_positions_table">
        <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-4" th:text="#{position.edit.table.name}"></th>
          <th class="col-2" th:text="#{position.edit.table.action}"></th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="positionEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" th:text="#{position.edit.modal.title}"></h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="position_modal_name" th:text="#{position.edit.modal.label}"></label>
              <input type="text" class="form-control" id="position_modal_name"
                     th:placeholder="#{position.edit.modal.placeholder}" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
                  th:text="#{position.edit.modal.button.close}"></button>
          <button type="button" class="btn btn-primary" id="save_position_modal_btn" data-dismiss="modal"
                  th:text="#{position.edit.modal.button.save}"></button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>