<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<body>
<div class="container-fluid p-4 p-md-5 pt-5" th:fragment="add-department" id="content-add-department">
  <h3 class="mb-4" th:text="#{department.add.title}"></h3>
  <div class="alert"></div>
  <div class="row">
    <div class="col-5">
      <form>
        <div class="form-group">
          <label for="departmentNameInput" th:text="#{department.add.label}"></label>
          <input type="text" class="form-control" id="departmentNameInput" th:placeholder="#{department.add.placeholder}" required>
        </div>
        <div class="form-group" style="padding-top:5%;">
          <button class="btn btn-primary btn-block" type="submit" id='department_save_btn'
                  th:text="#{department.add.button}"></button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>