<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<body>
<div class="container-fluid md-5 pt-5" th:fragment="view-department" id="content-view-department">
  <h3 class="mb-4" th:text="#{department.view.title}"></h3>
  <div class="alert"></div>
  <div class="row mb-5">
    <div class="col-12">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" id="getOpenDepartmentsBtn" th:text="#{department.view.tab.open}"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="getClosedDepartmentsBtn" th:text="#{department.view.tab.close}"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-hover" id="view_departments_table">
        <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-4" th:text="#{department.view.table.name}"></th>
          <th class="col-2" th:text="#{department.view.table.active}"></th>
          <th class="col-2" th:text="#{department.view.table.start_date}"></th>
          <th class="col-2" id="end_date_column" th:text="#{department.view.table.end_date}"></th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>