<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link th:href="@{/resources/css/profile-page.css}" rel="stylesheet" type="text/css">

<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container" style="min-height: 500px">
  <div class="starter-template">
    <h1 th:text="#{telephone_directory.title}"></h1>
    <form class="form-horizontal" id="search-form">
      <div class="row mt-5">
        <div class="col-3">
          <div class="form-group">
            <select class="form-control" id="search_select">
              <option value="name" th:text="#{telephone_directory.find.name}"></option>
              <option value="phone" th:text="#{telephone_directory.find.phone}"></option>
              <option value="email" th:text="#{telephone_directory.find.email}"></option>
            </select>
          </div>
        </div>
        <div class="col-5">
          <input type="text" class="form-control" id="searach_criteria"/>
        </div>
        <div class="col-1">
          <button type="submit" id="bth-search" class="btn btn-primary btn-lg"
                  th:text="#{telephone_directory.button.find}"></button>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <table class="table table-hover table-bordered results" id="employeeTable">
            <thead>
            <tr>
              <th>#</th>
              <th class="col-md-4 col-xs-5" th:text="#{telephone_directory.table.name}"></th>
              <th class="col-md-4 col-xs-4" th:text="#{telephone_directory.table.phone}"></th>
              <th class="col-md-4 col-xs-3" th:text="#{telephone_directory.table.email}"></th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </form>
    <div id="feedback"><p th:text="#{telephone_directory.error.message}"></p></div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/telephone-directory.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/main.js}"></script>