<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<body>
<nav th:fragment="project-sidebar" id="sidebar" class="navbar navbar-expand-xll navbar-light bg-light sidebar">
  <ul class="list-unstyled components mb-5" id="menu-list">
    <a role="button" id="view-project" class="sidebar_element sidebar_bold_element first_button" th:text="#{project.sidebar.view}"></a>
    <a role="button" id="add-project" class="sidebar_element" th:text="#{project.sidebar.add}"></a>
    <a role="button" id="edit-project" class="sidebar_element" th:text="#{project.sidebar.edit}"></a>
    <a role="button" id="activate-project" class="sidebar_element" th:text="#{project.sidebar.activate}"></a>
    <a role="button" id="assign-user" class="sidebar_element" th:text="#{project.sidebar.assign}"></a>
  </ul>
</nav>
</body>
</html>

