<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset=UTF-8>
  <title th:text="#{registration.title}"></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <link th:href="@{/resources/css/auth-reg-style.css}" rel="stylesheet" type="text/css">
  <script type="text/javascript" th:src="@{/resources/js/registration.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
</head>

<body class="login-page">
  <main style="margin:2% auto 5%">
    <div class="login-block">
      <img th:src="@{/resources/images/auth-reg.png}">
      <h1 th:text="#{registration.input_data}"></h1>
      <form>
        <div class="form-group reg_input">
          <label for="username" th:text="#{registration.username}"></label>
          <input type="text" class="form-control" id="username" placeholder="Example123" required>
        </div>
        <div class="form-group reg_input">
          <label for="password" th:text="#{registration.password}"></label>
          <input type="password" class="form-control" id="password" placeholder="Example@123" required>
        </div>
        <div class="form-group reg_input">
          <label for="repeat_password" th:text="#{registration.repeat_password}"></label>
          <input type="password" class="form-control" id="repeat_password" placeholder="Example@123" required>
        </div>
        <div class="form-group reg_input">
          <label for="name" th:text="#{registration.name}"></label>
          <input type="text" class="form-control" id="name" required>
        </div>
        <div class="form-group reg_input">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" required>
        </div>
        <div class="alert_reg"></div>
        <button class="btn btn-primary btn-block" id="reg_button" type="button"
          th:text="#{registration.sign_up}"></button>
      </form>
    </div>

    <div class="login-links">
      <p class="text-center" th:text="#{registration.have_account}"></p>
      <a class="txt-brand" href="/login" th:text="#{registration.sign_in}"
        style="color: #29aafe;display: block;  text-align:center"></a>
    </div>
  </main>
</body>

</html>