<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<body>
<div class="container-fluid md-5 pt-5" th:fragment="activate-project" id="content-activate-project">
  <h3 class="mb-4" th:text="#{project.activate.title}"></h3>
  <div class="alert"></div>
  <div class="row">
    <div class="col">
      <table class="table table-hover" id="activate_project_table">
        <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-4" th:text="#{project.activate.table.name}"></th>
          <th class="col-4" th:text="#{project.activate.table.department}"></th>
          <th class="col-1" th:text="#{project.activate.table.start_date}"></th>
          <th class="col-1" th:text="#{project.activate.table.active}"></th>
          <th class="col-1" th:text="#{project.activate.table.action}"></th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>