<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<body>
<div class="container-fluid md-5 pt-5" th:fragment="assign-user" id="content-assign-user">
  <h3 class="mb-4" th:text="#{project.assign.title}"></h3>
  <div class="alert"></div>
  <div class="row mb-5" id="tabs_to_assign_user">
    <div class="col-12">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" id="assignEmployeeBtn" th:text="#{project.assign.tab.assign}"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="removeEmployeeBtn" th:text="#{project.assign.tab.remove}"></a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
          <a class="nav-link" id="selectDepartmentBtn" th:text="#{project.assign.tab.select}"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" id="div_department_assign_users_table">
    <div class="col">
      <table class="table table-hover" id="department_assign_users_table">
        <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-4" th:text="#{project.assign.department.table.name}"></th>
          <th class="col-4" th:text="#{project.assign.department.table.choice}"></th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div class="row" id="div_assign_users_table">
    <div class="col">
      <table class="table table-hover" id="assign_users_table">
        <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-2" th:text="#{project.assign.user.table.login}"></th>
          <th class="col-3" th:text="#{project.assign.user.table.name}"></th>
          <th class="col-2" th:text="#{project.assign.user.table.role}"></th>
          <th class="col-3" th:text="#{project.assign.user.table.department}"></th>
          <th class="col-1" th:text="#{project.assign.user.table.action}"></th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="assignUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header" id="assign_user_to_project">
          <h5 class="modal-title" id="modal_header_title"></h5>
        </div>
        <div class="modal-body">
          <div id="modal_alert"></div>
          <form>
            <div class="form-group" id="positionSelectDiv">
              <label for="positionSelect" th:text="#{project.assign.modal.label}"></label>
              <select class="form-control" id="positionSelect"></select>
            </div>
            <div class="form-group">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <table class="table table-hover" id="projectAssignModelTable" style="width:100%">
                      <thead>
                      <tr>
                        <th class="col-1">#</th>
                        <th class="col-4" th:text="#{project.assign.modal.table.name}"></th>
                        <th class="col-4" th:text="#{project.assign.modal.table.choice}"></th>
                      </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
                  th:text="#{project.assign.modal.button}"></button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>