<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<body>
<div class="container-fluid md-5 pt-5" th:fragment="edit-project" id="content-edit-project">
  <h3 class="mb-4" th:text="#{project.edit.title}"></h3>
  <div class="alert"></div>
  <div class="row">
    <div class="col">
      <table class="table table-hover" id="edit_project_table">
        <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-4" th:text="#{project.edit.table.name}"></th>
          <th class="col-4" th:text="#{project.edit.table.department}"></th>
          <th class="col-1" th:text="#{project.edit.table.create_date}"></th>
          <th class="col-1" th:text="#{project.edit.table.active}"></th>
          <th class="col-1" th:text="#{project.edit.table.action}"></th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="projectEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" th:text="#{project.edit.modal.title}"></h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="project_modal_name" th:text="#{project.edit.modal.label}"></label>
              <input type="text" class="form-control" id="project_modal_name"
                     th:placeholder="#{project.edit.modal.placeholder}" required>
            </div>
            <div class="form-group" sec:authorize="hasAuthority('ADMIN')">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                  </div>
                  <table class="table table-hover" id="departments_table" style="width:100%">
                    <thead>
                    <tr>
                      <th class="col-1">#</th>
                      <th class="col-4" th:text="#{project.edit.modal.table.name}">Наименование</th>
                      <th class="col-4" th:text="#{project.edit.modal.table.choice}">Выбор</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
                  th:text="#{project.edit.modal.button.close}"></button>
          <button type="button" class="btn btn-primary" id="save_project_modal_btn"
                  data-dismiss="modal" th:text="#{project.edit.modal.button.save}"></button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>